*~
*.pyc
test/dumps/
test/src/test-ctypes1*
test/src/test-ctypes2*
test/src/test-ctypes3*
test/src/test-ctypes4*
test/src/test-ctypes5*
*.xml
build
dist
haystack.egg-info
haystack-search.dump
haystack/gui/noname.cpp
haystack/gui/noname.h
haystack/gui/test.fbp
haystack/test
haystack/outputs/

